
*{
    margin:0px;
    padding:0px;
        
}


.div1{
    border: 1px solid;
    border-color: darkgray;

}


.list-menu{
    list-style-type: none;

    
}
.list-menu li{
    display: flex;
    
}

.list-menu  span{
    margin-right:10px;
    
}

button{
    border:none;
}

.btn-new-twitter{
    width:200px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.icon-twitter{

    padding:20px 0px 20px 0px;
    width:100px;

}

.div2{
    border: 1px solid;
    border-color: darkgray;
    border-left: none;
    border-right: none;
}
.div2-1{
    border: 1px solid;
    border-color: darkgray;
    border-left: none;
    border-top: none;
    border-right: none;
}

.div2 span{
    margin-top:12px;
    color: blue;
}

.div2-1 p{
    margin-top:25px;
}

.div2-1 button{
    margin-left:590px;
}

.div2-1 img{
    width:80px;
    margin-top:10px;
}

.container {
    margin-top:25px;
}

.container  span{
    margin-top:8px;
}

.div3{
    border: 1px solid;
    border-color: darkgray;

}

.background3{
    background-color:rgba(178, 173, 255, 0.781);
    border-radius:10px;
    padding: 10px;
    margin-bottom: 10px;
}


.img-n{
    width:200px;
    margin-top: 25px;
}

.div2-2{
    border: 1px solid;
    border-color: darkgray;
    border-left: none;
    border-top: none;
    border-right: none;
    
}

.div2-2 img{
    width:60px;
    margin-top:10px;
}
.name{
    margin-top: 12px;
    margin-right: 10px;
}

.div-post img{
    width:800px;
    height:450px;
    margin-left: 0px;
}

.perfil{
    margin-top: 10px ;
    background-color:cornflowerblue;
    border-radius:10px;
    margin-left:30px;
    margin-right:80px;
    border: 0px solid;
    border-color: black;
    padding: 10px;
}

.perfil img{
    width:50px;
    margin-top:0px
}

.perfil p{
    display:inline;
}

.icon-perfil{
    margin-left: 60px;
    margin-top: 12px;
}

.icones-img{
    margin-left:70px;
}

.perfil2{
    margin-top: 10px ;
    margin-bottom: 10px;
    background-color:cornflowerblue;
    border-radius:10px;
    margin-left:10px;
    margin-right:20px;
    border: 0px solid;
    border-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.perfil2 img{
    width:50px;
    margin-top:0px
}

.perfil2 p{
    display:inline;
}


.btn2{
    margin-top: 5px;
    width: 100px;
}



